<div class="container-sm !justify !shadow pt-3">
  <form [formGroup]="formulario">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="nombre"
      />
      <div *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.hasError('required')" class="alert alert-danger" role="alert">
        El nombre es requerido
    </div>
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input
        type="text"
        class="form-control"
        id="apellido"
        formControlName="apellido"
      />
      <div *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.hasError('required')" class="alert alert-danger" role="alert">
        El apellido es requerido
    </div>
    </div>
    <div class="mb-3">
      <label for="fechaNacimiento" class="form-label"
        >Fecha de Nacimiento:</label
      >
      <input
        type="date"
        class="form-control"
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
      />
      <div *ngIf="formulario.get('fechaNacimiento')?.touched && formulario.get('fechaNacimiento')?.hasError('required')" class="alert alert-danger" role="alert">
        La fecha de nacimiento es requerida
    </div>
    </div>
    <div class="mb-3">
      <label for="fechaIngreso" class="form-label">Fecha de Ingreso:</label>
      <input
        type="date"
        class="form-control"
        id="fechaIngreso"
        formControlName="fechaIngreso"
      />
      <div *ngIf="formulario.get('fechaIngreso')?.touched && formulario.get('fechaIngreso')?.hasError('required')" class="alert alert-danger" role="alert">
        La fecha de ingreso es requerida
    </div>
    </div>

    <div class="mb-3">
      <label for="area" class="form-label">Área:</label>
      <select formControlName="area" class="form-select" id="area">
        <option value="Administracion">Administración</option>
        <option value="Compras">Compras</option>
        <option value="Finanzas">Finanzas</option>
        <option value="Marketing">Marketing</option>
        <option value="Recursos Humanos">Recursos Humanos</option>
        <option value="Tesoreria">Tesorería</option>
        <option value="Ventas">Ventas</option>
      </select>
      <div *ngIf="formulario.get('area')?.touched && formulario.get('area')?.hasError('required')" class="alert alert-danger" role="alert">
        El área es requerida
    </div>
    </div>

    <div class="mb-3">
      <label for="sueldoBruto" class="form-label">Sueldo Bruto:</label>
      <input
        type="number"
        class="form-control"
        id="sueldoBruto"
        formControlName="sueldoBruto"
      />
      <div *ngIf="formulario.get('sueldoBruto')?.touched && formulario.get('sueldoBruto')?.hasError('required')" class="alert alert-danger" role="alert">
        El sueldo bruto es requerido
    </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="guardar()">
      Guardar
    </button>
  </form>
</div>
