<div class="table-responsive">
  <table
    class="table table-striped-columns table-hover table-bordered table-primary align-middle"
  >
    <thead class="table-white">
      <caption>
        Empleados
      </caption>
      <tr>
        <th>Legajo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Nacimiento</th>
        <th>Fecha de Ingreso</th>
        <th>Área</th>
        <th>Sueldo Bruto</th>
        <th>Antigüedad</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let empleado of empleados" class="table-primary">
        <td scope="row">{{ empleado.legajo }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.fechaNacimiento | date:"dd/MM/yyyy" }}</td>
        <td>{{ empleado.fechaIngreso |date:"dd/MM/yyyy" }}</td>
        <td>{{ empleado.area }}</td>
        <td>{{ empleado.sueldoBruto | currency: "ARS"}}</td>
        <td>{{ empleado.antiguedad }}</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
