    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">

                  <div class="dropdown open">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Empleados
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" routerLink="nuevo">Nuevo</a>
                        <a class="dropdown-item" routerLink="empleados">Listado</a>
                    </div>
                  </div>
                  <div class="dropdown open">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Recibos
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" routerLink="recibos/nuevo">Nuevo</a>
                        <a class="dropdown-item" routerLink="recibos">Listado</a>
                    </div>
                  </div>
            </div>
        </div>
    </nav>
